@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url('/familia/fonts/IBMPlexSans.woff2') format('woff2');
}

@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url('/familia/fonts/Literata.woff2') format('woff2');
}

@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url('/familia/fonts/AzeretMono.woff2') format('woff2');
}
